<!DOCTYPE html>
<html>
<head>
  <title>Noterizr</title>
  <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%=  render 'shared/heading' %>
</head>
<body>

<%= yield %>

</body>
</html>
